/****RESET****/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
}

header{
    width: 100%;
    height: 80px;
    background-color: #0084fd;
}

nav{
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

ul li{
    list-style-type: none;
}

.mb-30{
    margin-bottom: 30px;
}

p{
    line-height: 2rem;
}

h4{
    text-transform: uppercase;
    font-weight: lighter;
}

footer{
    background-color: #333333;
    text-align: center;
    color: white;
}

.violet-text{
    color: #9792e4;
}

.fd-column{
    flex-direction: column;
}

.violet-bg{
    background-color: #9792e4;
}

.flex{
    display: flex
}

.fl-wrap{
    flex-wrap: wrap;
}

.mg-bottom{
    margin-bottom: 2rem;
}

.align-center{
    text-align: center;
}

.u-line{
    text-decoration: underline;
}

.main-container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem;
}

.container{
    width: 100%;
}

.box{
    width: 100%;
    background-color: #b5ddff;
    margin-bottom: 1rem;
    border-radius: 1.2rem;
}

.box-container{
        width: 80%;
        height: 100%;
        margin: 2rem auto 0rem;
}

img{
    width: 100%;
    height: 100%;
}

.blue-text{
    color: #0084fd;
}

.w-text{
    color: white;
}

.download-btn{
    background-color: #0084fd;
    color: white;
    padding: .8rem 3rem;
    width: 80%;
    border: #0084fd;
    border-radius: 1.2rem;
    font-weight: bold;
}

.strategic-container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem;
}

.strategic-sect{
    width: 100%;
}

.strategic-box{
    width: 100%;
}

.box-partner{
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 3rem;
    text-align: center;
    padding: 2rem;
}

.partnership-box{
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    padding: 2rem;
}

.benefits-box{
    width: 100%;
    background-color: white;
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding: 1.5rem;
}

.dev-container{
    width: 100%;
    background-color: white;
    border-radius: 2rem;
    text-align: center;
}

.img-aboutus{
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.get-start{
    text-align: center;
}

div.big-box .box-container{
    margin: 2rem auto 0;
}

h2.blue-text{
    font-weight: bold;
}

div.align-center i{
    font-size: 5rem;
    color: #0084fd;;
}

div.dev-container img{
    width: 80%;
    height: 300px;
    object-fit: cover;
    padding-top: 2rem;
}

div.dev-container p{
    padding: 1rem;
}

div.box-partner img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

div.box-partner h3{
    text-transform: uppercase;
}

div.partnership-box h2{
    color: #9792e4;
    margin: 2rem;
}

div.main-container h1{
    font-size: 2.3rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 2rem;
    display: block;
}

div.benefits-box h2{
    font-size: 3rem;
}

div.benefits-box p{
    font-weight:lighter;
}

div button.violet-bg{
    background-color: #9792e4;
    color: white;
    padding: .8rem 4rem;
    border: #9792e4;
    border-radius: 1.2rem;
    font-weight: bold;
}

div button.violet-text{
    background-color: white;
    padding: .8rem 4rem;
    border: white;
    border-radius: 1.2rem;
    font-weight: bold;
}

div.get-start h2.w-text{
    font-size: 2.5rem;
}

div.get-start h2.yellow{
    font-size: 4rem;
    color: #fdc15f;
}



/******TABLET*******/

@media screen and (min-width: 480px){

    .container{
        gap: 1rem;
        justify-content: space-between;
    }

    div.box{
        width: calc(100% / 3 - 1rem);
    } 

    div.big-box{
        width: calc(((100% / 3) * 2) - 1rem);
    }

    .row{
        display: flex;
        gap: 1rem;
    }

    .benefits-box{
        width: calc(100% / 2 - 1rem);
    }

    img{
        width: 100%;
    }

    div.dev-container img{
        width: 60%;
        height: 300px;
        object-fit: cover;
    }

    .box-partner{
        display: flex;
        text-align: left;
        align-items: center;
    }

    .testimonial-quote{
        margin-left: 1rem;
    }

    .aboutus-container{
        display:flex
    }

    .aboutus-text{
        width: 70%;
        padding-right: 3rem;
    }

    .aboutus-img{
        width: 30%;
    }

    div.get-start h2.yellow{
        font-size: 6rem;
    }

    div.get-start p{
        width: 60%;
        margin: 0 auto 30px;
    }

}


/******DESKTOP****/

@media screen and (min-width: 768px) {

    .strategic-container{
        margin: 0 auto;
        padding: 2rem;
        max-width: 800px;
    }
    
    div.fd-column{
        flex-direction: row;
    }

    .row{
        display: flex;
        gap: 1rem;
    }

    .benefits-box{
        width: calc(100% / 3 - 1rem);
    }

    .box-container{
        margin: 2rem auto 0;
    }

    div.big-box .box-container{
        display: flex;
    }

    .dev-container{
        width: 90%;
        margin-left: 3rem;
    }

    .box-partner{
        display: flex;
    }

    .testimonial-img{
        width: 27%;
    }

    .testimonial-quote{
        width: 73%;
        padding-left: 2rem;
    }

    .aboutus-container{
        justify-content: space-between;
    }

    .aboutus-text{
        width: 70%;
    }

    .aboutus-img{
        width: 20%;
    }

    div.get-start p{
        width: 40%;
        margin: 0 auto 30px;
    }


}