/****RESET****/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 80px;
    background-color: #0084fd;
}


nav{
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

ul li{
    list-style-type: none;
}

.fd-column{
    flex-direction: column;
}

.violet-bg{
    background-color: #9792e4;
}

.flex{
    display: flex
}

.fl-wrap{
    flex-wrap: wrap;
}

.mg-bottom{
    margin-bottom: 2rem;
}

.main-container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem;
}

.container{
    width: 100%;
}

.box{
    width: 100%;
    height: 200px;
    background-color: #b5ddff;
    margin-bottom: 1rem;
    border-radius: 1.2rem;
}

.strategic-container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem;
}

.strategic-sect{
    width: 100%;
    height: 500px;
}

.strategic-box{
    width: 100%;
    height: 200px;
    background-color: red;
}




/******TABLET*******/

@media screen and (min-width: 480px){

    .container{
        gap: 1rem;
        justify-content: space-between;
    }

    div.box{
        width: calc(100% / 3 - 1rem);
        height: 200px;
        background-color: aqua;
    } 

    div.big-box{
        width: calc(((100% / 3) * 2) - 1rem);
        height: 200px;
    }


}


/******DESKTOP****/

@media screen and (min-width: 768px) {

    .strategic-container{
        margin: 0 auto;
        padding: 2rem;
        max-width: 800px;
    }
    
    div.fd-column{
        flex-direction: row;
    }
}